<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expert Dashboard</title>
    
</head>
<body>
    <h1>Welcome to the Expert Dashboard</h1>
    
    
    <p><strong>Username:</strong> {{ expert_data.username }}</p>
    <p><strong>Email:</strong> {{ expert_data.email }}</p>
    <p><strong>Phone:</strong> {{ expert_data.phone }}</p>
    <p><strong>Date of Birth:</strong> {{ expert_data.dob }}</p>
    <p><strong>State:</strong> {{ expert_data.state }}</p>
    <p><strong>City:</strong> {{ expert_data.city }}</p>


   
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html> -->
