<!-- templates/investment_category.html -->
{% extends "admin_base.html" %}

{% block title %}Add Investment Category{% endblock %}

{% block content %}
<div class="container">
    <h2>Add Investment Category</h2>

    
    <form method="POST" action="{{ url_for('investment_category') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.category.label(for="category") }}
            {{ form.category(id="category", class="form-control") }}
            {% if form.category.errors %}
            <ul class="text-danger">
                {% for error in form.category.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.description.label(for="description") }}
            {{ form.description(id="description", class="form-control", rows=5) }}
            {% if form.description.errors %}
            <ul class="text-danger">
                {% for error in form.description.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.submit(class="form-button-secondary btn-space green") }}
        </div>
    </form>
    <br>
    <a href="{{ url_for('investment_dashboard') }}" class="form-button-secondary btn-space">Back to Investment Dashboard</a>
</div>
{% endblock %}
