<!-- templates/update_subcategory.html -->
{% extends "admin_base.html" %}

{% block title %}Update Investment Subcategory{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Update Investment Subcategory</h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.investment_category.label(for="investment_category") }}
            {{ form.investment_category(id="investment_category", class="form-control") }}
            {% if form.investment_category.errors %}
            <ul class="text-danger">
                {% for error in form.investment_category.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.subcategory.label(for="subcategory") }}
            {{ form.subcategory(id="subcategory", class="form-control") }}
            {% if form.subcategory.errors %}
            <ul class="text-danger">
                {% for error in form.subcategory.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.description.label(for="description") }}
            {{ form.description(id="description", class="form-control") }}
            {% if form.description.errors %}
            <ul class="text-danger">
                {% for error in form.description.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group">  
            {{ form.submit(class="form-button-secondary btn-space") }}
            <button type="button" class="form-button-secondary btn-space" onclick="window.location.href='{{ url_for('investment_dashboard') }}';">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}
